<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>回复语编辑页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>回复语编辑页面</legend>
</fieldset>

<div id="replyTree" class="demo-tree demo-tree-box" style="margin-left: 100px; height: 300px; float: left"></div>

<div id="replyTree2" class="demo-tree demo-tree-box" style="margin-right: 200px; float:right">

    <p align="center">快捷短语标题-内容表格</p>
    <table class="layui-hide" id="treeTable"  lay-filter="treeTable"></table>

</div>



<script src="../static/layui/layui.js"></script>

<script>

    // 获取快捷语 标题与内容接口数据
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#treeTable'
            ,url:'http://39.100.147.44:30002/combo/list'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [
                [
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'comboName', width:120, title: '标题'}
                ,{field:'comboAddition', width:400, title: '内容', edit: 'text'}
            ]
            ]
            ,page:true
        });

        //监听单元格编辑
        table.on('edit(treeTable)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段

            layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
        });

    });



    // 获取树状流程图接口数据
    layui.use(['tree', 'util'], function(){
        var tree = layui.tree,
            layer = layui.layer,
            util = layui.util,

            // data = dataTree;

            dataTree = [
                {title: '顾客进门', id: 1 , field: "一般对应表字段名", children:[{title: '二级顾客进门', id: 11}]},
                {title: '自动回复',id: 2, children:[{title: 'cf代练', id: 21, children:[{title: '快捷回复标题1', id: 211},{title: '快捷回复标题2', id: 212},{title: '快捷回复标题3', id: 213}]},
                        {title: '抽水晶', id: 22, children:[{title: '快捷回复标题1', id: 221},{title: '快捷回复标题2', id: 222},{title: '快捷回复标题3', id: 223}]},
                        {title: 'LOL代练', id: 23, children:[{title: '快捷回复标题1', id: 231},{title: '快捷回复标题2', id: 232},{title: '快捷回复标题3', id: 233}]}]},
                {title: '修改密码',id: 3},
                {title: '首次问候',id: 4},
                {title: '用户管理',id: 5},
                {title: '角色管理',id: 6},
                {title: '报价',id: 7},
                {title: '查看日志',id: 8},
                {title: '导出日志',id: 9}];

        //开启节点操作图标
        tree.render({
            id: 'treeId', //定义索引
            elem: '#replyTree',
            data: dataTree,
            edit: ['add', 'update', 'del'], //操作节点的图标
            click: function(obj){
                // console.log(obj.data); //得到当前点击的节点数据
                // console.log(obj.state); //得到当前节点的展开状态：open、close、normal
                // console.log(obj.elem); //得到当前节点元素
                //
                // console.log(obj.data.children); //当前节点下是否有子节点

                console.log(obj.data);
                // layer.msg(JSON.stringify(obj.data));
            },

            operate: function (obj) {
                var type = obj.type; //得到操作类型：add、edit、del
                var data = obj.data; //得到当前节点的数据
                var elem = obj.elem; //得到当前节点元素

                //Ajax 操作
                var id = data.id; //得到节点索引
                if(type === 'add'){ //增加节点

                    layer.msg("节点id:" + id);

                    //返回 key 值

                    return id;
                } else if(type === 'update'){ //修改节点

                    var updateData = elem.find('.layui-tree-txt').html();


                    layer.msg("更新后的值:" + updateData);
                    // console.log("更新后的值:" + updateData); //得到修改后的内容
                } else if(type === 'del'){ //删除节点

                    layer.msg("删除的节点id:" + id);

                };


            }

        });

        //可以重载所有基础参数
        tree.reload('demoId', {
            //新的参数
        });





    });



</script>


</body>
</html>